body{
    background: url("https://i.imgur.com/iMH0hNo.jpg"), linear-gradient(to right, rgba(66, 66, 196, 0.8), rgba(55, 116, 230, 0.8)),url("https://i.imgur.com/SoVgIdX.jpg");
    background-position-x: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.container{
    background-color: white;
}
  
  .radio {
    margin: 0.5rem;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    position: relative;
    top: -0.2em;
    margin-right: 0.3em;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #3197EE;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }

label{
    opacity: 90%;
}

  @media (max-width:500px){
      section{
          margin-left: 5%!important;
          margin-right: 5%!important;
      }
      .radio{
          margin-left: -20px!important;
      }
      #quiz{
          margin-top: -20px;
      }
      #subtittle{
          font-size: 8vw;
      }
      #subsubtittle{
          font-size: 6vw;
      }
      #valor{
          font-size: 6vw;
      }
      label{
          font-size: 5vw!important;
      }
      .radio input[type="radio"] + .radio-label:before {
        width: 1em;
        height: 1em;
      }
      #classification{
          font-size: 7vw;
      }
      #percent{
          font-size: 6vw;
      }
  }